body{
    background-color: #b7def6;
    margin: 0%;
    padding: 0;
}

.principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 3vw;
}
.logo{
    font-size: 2vw;
}
.search{
    height: 2.4vw;
    width: 35vw;
    border: 0.1vw solid black;
    border-radius: 1vw;
    padding: 0 0.5vw;
    font-size: 1.2vw;
}
.search::placeholder{
    color: black;
}
.links a{
    text-decoration: none;
    margin-left: 1vw;
    font-size: 1.4vw;
    border: 0.1vw solid black;
    padding: 0.4vw;
    box-sizing: border-box;
    border-radius: 0.3vw;
    color: black;

}
.links a:nth-child(2){
    background-color: #268ac9;
    color: white;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}
.formulario form{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 row-gap: 1vw;
}
.text{
    height: 2.5vw;
    width: 24vw;
    border-radius: 0.6vw;
    font-size: 1.2vw;
    padding: 0 0.3vw;
    box-sizing: border-box;
    background-color: #98cae9;
    border: 0.1vw solid black;
}
.text::placeholder{
    color: black;
}
#selecciones select{
    width: 12vw;
    border: 0.1vw solid black;
}

#btn{
    border: 0.1vw solid black;
    height: 2.5vw;
    width: 14vw;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    background-color: #268ac9;
    color: white;
}